body {
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 500px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

button.btn-primary {
    width: 100%;
    background: #358885;
    --bs-btn-hover-bg: #276361;
    border-color: #093536;
    --bs-btn-hover-border-color: #093536;
    --bs-btn-active-bg: #276361;
    --bs-btn-active-border-color: #093536;
}

input {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    vertical-align: bottom;
}

p>a {
    color: #276361;
}