body {
    background-color: #f4f4f4;
    padding: 50px;
}

.support-icon {
    position: absolute;
    top: 14px;
    left: 12px;
    cursor: pointer;
}

.container {
    max-width: 700px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

.btn-primary {
    padding-left: 20px;
    padding-right: 20px;
    background: #358885;
    --bs-btn-hover-bg: #276361;
    border-color: #093536;
    --bs-btn-hover-border-color: #093536;
    --bs-btn-active-bg: #276361;
    --bs-btn-active-border-color: #093536;
}

.name {
    font-size: 20px;
}

.res-and-vac {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 570px) {
    .res-and-vac {
        grid-template-columns: 1fr;
    }
}

.button-submit {
    text-align: center;
}