<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style_card_container.css">
    <link rel="stylesheet" href="static/css/style_work_container.css">
    <link rel="stylesheet" href="static/css/style_for_profile.css">

    <title>Профиль</title>
</head>
<body>
    <a class="support-icon" href="/vacancies">
        <img src="static/img/icon.png" style="width: 35px; height: 35px;" alt="Support Icon">
    </a>
    <div class="container-profile">
        <img src="static/img/anon_avatar.png" class="profile-icon" alt="Support Icon">
        <p class="name-profile">{{ current_user.name }}</p>
        <br>
        <div class="res-and-vac">
            {% if resume == 0 %}
            <a href="/resume_add_form"><p class="button-submit"><button class="btn btn-primary">Добавить резюме</button></p></a>
            <br>
            {% else %}
                <h5>Ваше резюме <a href="#"><button class="btn btn-primary">Изменить</button></a> <a href="{{ url_for('delete_resume', resume_id=resume.id) }}"><button class="btn btn-primary delete">Удалить</button></a></h5>
                <div class="person-card">
                    {% if current_user.avatar == None %}
                        {% if resume.gender == "Женский" %}
                            <a href="{{ url_for('resume_detail', resume_id=resume.id) }}"><img src="static/img/woman_avatar.png"></a>
                        {% elif resume.gender == "Мужской" %}
                            <a href="{{ url_for('resume_detail', resume_id=resume.id) }}"><img src="static/img/man_avatar.png"></a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url_for('resume_detail', resume_id=resume.id) }}"><img src="static/img/anon_avatar.png"></a>
                    {% endif %}
                    <p class="person-name">{{ resume.title }}</p>
                    <p style="color: grey">Возраст: <span style="color: black">{{resume.age}}</span></p>
                    <p>{{ resume.price }}</p>
                    <div class="info">
                        <p style="color: grey;">Опыт работы</p>
                        <p>{{ resume.experience }}</p>
                        <p style="color: grey;">Последнее место работы</p>
                        <p>{{ resume.last_place_of_work }}</p>
                    </div>
                </div>
                <br><br>
            {% endif %}
            {% if vacancies == 0 %}
            <a href="/vacancies_add_form"><p class="button-submit"><button class="btn btn-primary">Добавить вакансию</button></p></a>
            {% else %}
                <h5>Ваша вакансия <a href="#"><button class="btn btn-primary">Изменить</button></a> <a href="{{ url_for('delete_vacancies', vacancies_id=vacancies.id) }}"><button class="btn btn-primary delete">Удалить</button></a></h5>
                <div class="work-card">
                    <a href="{{ url_for('vacancy_detail', vacancy_id=vacancies.id) }}"><p class="work-name">{{ vacancies.title }}</p></a>
                    <p style="font-size: 20px">{{ vacancies.price }}</p>
                    <p style="color: #358885">{{ vacancies.company }}</p>
                    <p style="color: gray"><img src="static/img/place_icon.png">{{ vacancies.address }}</p>
                    <p class="work-info">{{ vacancies.description }}</p>
                </div>
            {% endif %}
        </div>
        <br><br>
        <p style="color: grey">Профиль был создан {{current_user.created_date}}</p>
    </div>
</body>
</html>