{% extends "index.html" %}

{% block content %}
    <div class="container">
        {% for resume in data %}
            <div class="person-card">
                {% if resume.user.avatar == None %}
                    {% if resume.gender == "Женский" %}
                        <a href="{{ url_for('resume_detail', resume_id=resume.id) }}"><img src="{{ url_for('static', filename='img/woman_avatar.png') }}"></a>
                    {% elif resume.gender == "Мужской" %}
                        <a href="{{ url_for('resume_detail', resume_id=resume.id) }}"><img src="{{ url_for('static', filename='img/man_avatar.png') }}"></a>
                    {% endif %}
                {% else %}
                    <a href="{{ url_for('resume_detail', resume_id=resume.id) }}"><img src="{{ url_for('static', filename='img/anon_avatar.png') }}"></a>
                {% endif %}

                <p class="person-name">{{ resume.title }}</p>
                <p style="color: grey">Возраст: <span style="color: black">{{resume.age}}</span></p>
                <p>{{ resume.price }}</p>
                <div class="info">
                    <p style="color: grey;">Опыт работы</p>
                    <p>{{ resume.experience }}</p>
                    <p style="color: grey;">Последнее место работы</p>
                    <p>{{ resume.last_place_of_work }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}