{% extends "base.html" %}

{% block content %}
<div class="container">
    {% for vacancies in data %}
    <div class="work-card">
        <a href="{{ url_for('vacancy_detail', vacancy_id=vacancies.id) }}">
            <p class="work-name">{{ vacancies.title }}</p>
        </a>
        <p style="font-size: 20px">{{ vacancies.price }}</p>
        <p style="color: #358885">{{ vacancies.company }}</p>
        <p style="color: gray"><img src="static/img/place_icon.png">{{ vacancies.address }}</p>
        <p class="work-info">{{ vacancies.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}