{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_for_details.css') }}">
</head>
<a href="/vacancies">
    <img src="{{ url_for('static', filename='img/icon.png') }}" style="width: 35px; height: 35px;" alt="Icon">
</a>
<div class="container">
    <h2>{{ vacancy.title }}</h2>
    <p><strong>Компания:</strong> {{ vacancy.company }}</p>
    <p><strong>Зарплата:</strong> {{ vacancy.price }}</p>
    <p><strong>Опыт работы:</strong> {{ vacancy.experience }}</p>
    <p><strong>Адрес:</strong> {{ vacancy.address }}</p>
    <p><strong>График работы:</strong> {{ vacancy.schedule }}</p>
    <p><strong>Описание:</strong> {{ vacancy.description }}</p>
    <p><strong>Email:</strong> {{ vacancy.email }}</p>
    <p><strong>Телефон:</strong> {{ vacancy.phone }}</p>
</div>
{% endblock %}